<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-menu">
            <a href="{{ url_for('view') }}">Principal</a>
        </div>
        <div class="navbar-user">
            <a href="{{ url_for('edit_profile') }}">
                <img src="{{ url_for('static', filename=user_data.get('profile_picture', 'images/profiles/default_profile.jpg')) }}" 
                     alt="Perfil" class="profile-thumbnail">
            </a>
            <span>{{ session['username'] }}</span>
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar Sesión</a>
        </div>
    </nav>

    <!-- Formulario para editar el perfil -->
    <h1>Editar Perfil</h1>
    <form action="{{ url_for('edit_profile') }}" method="post" enctype="multipart/form-data">
        <label for="new_name">Nuevo Nombre:</label>
        <input type="text" name="new_name" value="{{ user_data.get('name', '') }}">

        <label for="new_profile_picture">Nueva Foto de Perfil:</label>
        <input type="file" name="new_profile_picture" accept="image/*">

        <button type="submit">Actualizar Perfil</button>
    </form>
</body>
</html>
